<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>199931687996-g9jm8h5c7s9fr7u4i3tis4ev5m1qm2af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199931687996-g9jm8h5c7s9fr7u4i3tis4ev5m1qm2af</string>
	<key>API_KEY</key>
	<string>AIzaSyDV9beamincXJW9RX_d0TKKSuAx87JTC-c</string>
	<key>GCM_SENDER_ID</key>
	<string>199931687996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.omninos.test.DemoPushNotification</string>
	<key>PROJECT_ID</key>
	<string>xamarin-8b6e9</string>
	<key>STORAGE_BUCKET</key>
	<string>xamarin-8b6e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199931687996:ios:3f49ba93234b8493</string>
	<key>DATABASE_URL</key>
	<string>https://xamarin-8b6e9.firebaseio.com</string>
</dict>
</plist>